.greet-main {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
}

.greeting-text-div {
  width: 100% !important;
  padding: 5px !important;
  box-sizing: border-box !important; /* Ensure padding is included in the element's total width and height */
  margin-bottom: 20px !important; /* Add margin to ensure proper spacing from other sections */
}

.image-side-side {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  gap: 20px !important; /* Gap for desktop mode */
  flex-wrap: wrap !important;
  margin-top: -80px !important; /* Reduced margin to decrease gap between images and paragraph */
}

.image-side-side img {
  width: 100% !important;
  height: auto !important;
  max-width: 48% !important; /* Ensure images take up to 48% of the container to fit side by side */
}

@media (max-width: 768px) {
  .greeting-text-div {
    margin-bottom: 120px !important; /* Add margin after the paragraph before the images */
    margin-top: 30px !important;
  }

  .image-side-side {
    flex-direction: column !important;
    gap: 10px !important; /* Adjust gap for mobile mode */
  }

  .image-side-side img {
    max-width: 100% !important; /* Make images take full width in mobile view */
    margin: 0 !important; /* Remove margins to reduce the gap */
  }
}
